.dashboard{
  background-color: #131013;
  width: 100%;
}
.dashboard .recording{
  width: 30vw;
  position: relative;
}
.dashboard .recording img{
  display: block;
  width: 100%;
  height: auto;
}
.dashboard .recording:after{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(255, 0, 0, .5);
}
.dashboard .still{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
