.dashboard{
  width: 100%;
  height: 100%;
  background-color: #131013;
  background-image: url('/assets/images/recording.gif');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 30vh;
}
