.main{
  background-color: #131013;
  position: relative;
  min-height: 100%;
}
#page{
  transition: .25s all;
  opacity: 1;
}
#page.fadeout{
  opacity: 0;
}
.main .loaderWrap{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: calc(100vh - 85px);
  background: #000;
  z-index: 10;
}
