.main{
  background-color: #0e0e0e;
  position: relative;
  min-height: 100%;
  padding: 20px 0;
}
.main .loaderWrap{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: calc(100vh - 85px);
  background: #000;
  z-index: 10;
}
