.app-menu-item {
    padding: 25px;
}

.app-menu-list {
    overflow-x: scroll;
}

.app-menu {
    overflow-x: scroll;
}

.app-menu > h3 {
    text-decoration: underline;
    margin-top: 25px;
    padding-left: 50px;
    font-style: italic;
    font-weight: bold;
}
