/* Your CSS goes here */
/*#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}*/

/* CUSTOM */
*{
  box-sizing: border-box;
}
html, body{
  width: 100vw;
  height: 100vh;
  display: block;
  padding: 0;
  margin: 0;
}
body{
  color: #04a9f4;
  overflow-x: hidden;
}
body, h1, h2,
h3, h4, h5, h6{
  font-family: QuicksandRegular;
}
strong{
  font-family: QuicksandBold;
}
#root{
  height: calc(100vh - 100px);
  position: relative;
  top: 100px;
  display: block;
  padding: 0;
  margin: 0;
}
@media (max-width: 800px) {
  #root{
    top: 90px;
    height: calc(100vh - 90px);
  }
}
.mdl-textfield__input{
  border-bottom:1px solid #fefefe;
  color:#fefefe;
  padding-left: 30px;
}
.mdl-textfield__label{
  color:#fefefe;
}
.mdl-textfield__label i{
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
.mdl-textfield{
  width: 100%;
}
.mdl-textfield{
  margin:-5px 0;
}
.mdl-layout__header,
.mdl-button--raised.mdl-button--colored{
  background-color:#243f54;
}
